# File compilati e pacchetti
*.class
*.jar
target/
bin/

# File di configurazione di VS Code e IDE
.vscode/
.settings/
.classpath
.project

# File di log e crash
*.log
hs_err_pid*

# NON CARICARE MAI CREDENZIALI DEL DB (se hai un file .env o simili)
*.env